extends partials/auth.pug

block script
  script(defer type='module' src='login.js')

block content
  form(action='/login' method='post')
    .error(data-name='generic')
    div
      label(for='email')='Email'
      input(type='email' name='email' required)
    .error(data-name='email')
    div
      label(for='password')='Password'
      input(type='password' name='password' required)
    .error(data-name='password')
    .form-footer
      button(type='submit')='Login'
      a(href='/forgot')='Lost your password?'
  p='Dont have an account? '
    a(href='/register')='Sign up here'
